.register-form__content{
    max-width: 1540px;
    margin: 0 auto;
    padding: 40px 20px;
}

.register-form__heading{
    text-align: center;
    margin-bottom: 30px;
}

.register-form{
    width: 40%;
    margin: 0 auto;
    padding: 10px 15px;
    text-align: center;
}

.register-form__group{
    display: block;
}

.register-form__label{
    display: block;
    text-align: left;
    width: 100%;
    font-weight: bold;
}

.register-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.form__button {
    margin-top: 45px;
    margin-bottom: 30px;
    text-align: center;
}

.form__button-submit {
    width: 100%;
    height: 45px;
    padding: 10px;
    margin: 0 auto;
    color: #fff;
    font-size: 15px;
    background: #000;
    border: none;
    border-radius: 3px;
    appearance: none;
    cursor: pointer;
}

.login__button {
    text-align: center;
}

.login__button--link {
    color: rgb(71, 144, 246);
    text-decoration: none;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    margin-top: -5px;
}
