.header{
    background: #000;
    width: 100%;
}

.header__inner{
    max-width: 1540px;
    margin: 0 auto;
    padding:  20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header__logo img {
    height: 40px;
    width: auto;
}

.header-nav{
    display: flex;
}

.header-nav__list{
    display: flex;
    gap: 15px;
    color: #fff;
}

.header-nav__item a {
    text-decoration: none;
}