html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.attendance__content{
    max-width: 1540px;
    min-height: calc(80vh - 80px);
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attendance__now{
    display: inline-block;
    padding: 5px 15px;
    background: #d1d1d1;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}

.attendance__date{
    font-size: 20px;
    margin-bottom: 25px;
}

.attendance__time{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
}

.attendance__buttons{
    display: flex;
}

.attendance__button{
    min-width: 120px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: #000;
    cursor: pointer;
}

.attendance__button--white{
    min-width: 120px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background: #fff;
    cursor: pointer;
}

.attendance__button-group{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}